* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* General Styling */
p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.sectionTitle {
  color: #E73C3C;
  font-size: calc(12px + 3vw);
  text-align: center;
  padding-top: 2vh;
}

.itemTitle {
  font-size: calc(12px + 2vw);
  color: #646464;
}

.itemDescription {
  padding-top: 2vh;
  padding-bottom: 4vh;
}

/* Top Section */
.top {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 99vh;
}

.top p {
  text-align: center;
  position: relative;
  top: 45vh;
  font-size: calc(20px + 7vw);
}

#liam {
  color: #E73C3C;
}

#rosenfeld {
  color: #FFFFFF;
}

/* Content Sections */
@media all and (min-width: 890px) {
  /* CSS rules here for screens above 890px */
  .app, .website, .music {
    text-align: center;
    min-height: 75vh;
    position: relative;
  }
}

@media all and (max-width: 890px) {
  /* CSS rules here for screens lower than 890px */
  .app, .website, .music{
    text-align: center;
    min-height: 90vh;
    position: relative;
  }
}

.appSlides, .webSlides, .musicalExtravaganza {
  text-align: center;
  padding: 20px;
}

.image {
  display: inline-block;
  padding: 20px;
  vertical-align:top;
}

.text {
  display: inline-block;
  padding: 20px;
  vertical-align:top;
}

.buttons{
  /* TODO: Send to bottom of container  */
}

.appButton, .webButton {
  border: none;
  display: inline-block;
  outline: 0;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap
}

.button:hover {
  color: #000;
  background-color: #ccc;
}

.clickedButton {
  color: #fff;
  background-color: #E73C3C;
}

.slider {
  padding-top: 3vh;
}
