<div
  class="col-lg-4 col-6 mb-4 shuffle-item"
  data-groups='[{{range $index, $element:= .Params.categories }}{{if ne $index 0}},{{end}}"{{. | urlize}}"{{ end }}]'
>
  <article class="position-relative rounded hover-wrapper">
    <img
      src="{{.Params.image | absURL }}"
      alt="projects-image"
      class="img-fluid rounded w-100 d-block"
    />
    <div class="hover-overlay">
      <div class="hover-content">
        <a class="btn btn-light btn-sm" href="{{ .Permalink | safeURL }}">
          view project
        </a>
      </div>
    </div>
  </article>
</div>
