{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- projects -->
<section id="project-page">
  <div class="container">
    <div class="top">
      <img src="{{ .Params.image | absURL }}" alt="{{ .Title }}">
      <div class="meta">
        <!-- released date -->
        <div class="meta-item">
          <div class="meta-icon">
            <img
              src="{{`images/icons/calendar.svg`| absURL}}"
              alt="calender"
            />
          </div>
          <div class="meta-text">
            <h4>Released</h4>
            <p>{{ .PublishDate.Format "Jan 02, 2006" }}</p>
          </div>
        </div>
        <!-- categories -->
        <div class="meta-item">
          <div class="meta-icon">
            <img
              src="{{`images/icons/tags.svg`| absURL}}"
              alt="tags"
            />
          </div>
          <div class="meta-text">
            <h4>Categories</h4>
            <p>{{ delimit .Params.categories ", " | humanize }}</p>
          </div>
        </div>
        <!-- project link -->
        {{ with .Params.project_url}}
        <div class="meta-item">
          <div class="meta-icon">
            <img
              src="{{`images/icons/link.svg`| absURL}}"
              alt="link"
            />
          </div>
          <div class="meta-text">
            <h4>View</h4>
            <p>{{. | markdownify}}</p>
          </div>
        </div>
        {{ end }}
        <!-- code link -->
        {{ with .Params.code_url}}
        <div class="meta-item">
          <div class="meta-icon">
            <img
              src="{{`images/icons/code.svg`| absURL}}"
              alt="code"
            />
          </div>
          <div class="meta-text">
            <h4>Source Code</h4>
            <p>{{. | markdownify}}</p>
          </div>
        </div>
        {{ end }}
      </div>
    </div>

    <div class="content-body">
      {{.Content}}
    </div>
    
  </div>
</section>
<!-- /projects -->

{{ end }}
