<div
  class="col-lg-4 col-sm-6 mb-4 shuffle-item"
  data-groups='[{{range $index, $element:= .Params.tags }}{{if ne $index 0}},{{end}}"{{. | urlize}}"{{ end }}]'
>
  <article class="position-relative card shadow">
    <div class="card-body">
      <h4 class="card-title">
        <a class="text-dark" href="{{.Permalink}}">{{.Title }}</a>
      </h4>
      <p>{{ .Date.Format "Jan 02, 2006" }}</p>
      <p class="cars-text">{{.Summary}}</p>
      {{ if .Params.tags }}
      <ul class="post-tags">
          {{ range .Params.tags }}
            <li><a href="/blog/?{{ querify "tag" . | safeURL }}">#{{ . }}</a></li>
          {{ end }}
      </ul>
      {{ end }}
      <a href="{{.Permalink}}" class="btn btn-sm btn-primary">Read More</a>
    </div>
  </article>
</div>
