.segmented-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: var(--button-color);
  border-radius: 10px;
  overflow: hidden;

  .option {
    flex-grow: 1;
    text-align: center;

    label {
      // font
      font-family: Lato, sans-serif;
      font-weight: 700;
      font-size: 15px;
      text-transform: capitalize;

      // color
      background-color: var(--button-color);
      color: #fff;

      // placement
      width: 100%;
      padding: 15px 20px;
      display: inline-block;
      box-sizing: border-box;
      text-align: center;
    }
  
    input {
      display: none;
    }
  
    label {
      cursor: pointer;
    }
  
    input:checked + label {
      background-color: var(--selected-button-color);
    }
  }
}

.content-list {
  margin: 4em 6em;
  
  @media (max-width: 575px) {
    margin: 4em 1em;
  }

  #sort-items {
    display: flex;
    justify-content: center;
    direction: row;
    flex-wrap: wrap;

    .preview-card.diminish { 
      display: none;
    }
  }
}
