.segmented-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: var(--accent-color);
  border-radius: 10px;
  overflow: hidden;

  .option {
    flex-grow: 1;
    text-align: center;

    label {
      width: 100%;
      font-size: 15px;
      padding: 15px 20px;
      font-family: roboto, sans-serif;
      text-transform: capitalize;
      font-weight: 600;
      border: 0;
      position: relative;
      z-index: 1;
      background-color: var(--accent-color);
      color: #fff;
      display: inline-block;
      box-sizing: border-box;
      text-align: center;
    }
  
    input {
      display: none;
    }
  
    label {
      cursor: pointer;
    }
  
    input:checked + label {
      background-color: var(--darker-accent-color);
    }
  }
}

.content-list {
  margin: 4em 6em;
  
  @media (max-width: 575px) {
    margin: 4em 1em;
  }

  #sort-items {
    display: flex;
    justify-content: center;
    direction: row;
    flex-wrap: wrap;

    .preview-card.diminish { 
      display: none;
    }
  }
}
