@import "https://fonts.googleapis.com/csss?family=Playfair+Display:400,700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:300,400,500,700&display=swap";

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.2;
  font-family: roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: var(--body-text-color);

  // sticky footer
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

p {
  font-weight: 400;
  color: var(--body-text-color);
  font-size: 16px;
  line-height: 1.8;
  font-family: roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: playfair display, serif;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 80px;
}

@media (max-width: 991px) {
  h1,
  .h1 {
    font-size: 65px;
  }
}

h2,
.h2 {
  font-size: 60px;
}

@media (max-width: 991px) {
  h2,
  .h2 {
    font-size: 50px;
  }
}

h3,
.h3 {
  font-size: 40px;
}

h4,
.h4 {
  font-size: 22px;
}

h5,
.h5 {
  font-size: 18px;
}

h6,
.h6 {
  font-size: 14px;
}

::selection {
  background: var(--accent-color);
  color: #fff;
}

a {
  text-decoration: none;
  color: var(--accent-color);
}

main {
  background-color: var(--background-color);
}
