:root {
  --body-text-color: #111;
  --background-color: #f5f5f5;
  --heading-color: #000;
  --marginals-color: #000b2a;
  --button-color: #000b2a;
  --selected-button-color: #303644;
  --link-color: #14358f;
  --em-background-color: #f0f0f0;
  --card-bg-color: #fefefe;

  @media (prefers-color-scheme: dark) {
    --body-text-color: #f3f3f3;
    --background-color: #222222;
    --heading-color: #fff;
    --marginals-color: #000b2a;
    --button-color: #000b2a;
    --selected-button-color: #121f41;
    --link-color: #91aeff;
    --em-background-color: #313131;
    --card-bg-color: #313131;
  }
}
