{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="content-list">
  <div class="container">
    <div class="segmented-input">
      <span class="option">
        <input type="radio" id="radio-all" name="shuffle-filter" value="all" onchange="radioChanged(this)"/>
        <label for="radio-all">All</label>
      </span>
      
      {{ $tags := slice }}
      {{ range .Data.Pages }}
      {{ range .Params.tags }}
      {{ $tags = $tags | append . }}
      {{ end }}
      {{ end }}
      {{ range ( $tags | uniq ) }}
      {{ $value:= . | urlize }}
      <span class="option">
        <input type="radio" id="radio-{{ $value }}" name="shuffle-filter" value="{{ $value }}" onchange="radioChanged(this)"/>
        <label for="radio-{{ $value }}">{{ . | humanize }}</label>
      </span>
      {{ end }}
    </div>
    <div id="sort-items">
      {{ range .Data.Pages }}
      {{ .Render "preview" }}
      {{ end }}
    </div>
  </div>

  <script>
    var container = document.getElementById("sort-items");
    if (!container) {
      console.error("sort-items does not exist");
    }
    
    let filter = (selected) => {
      if (selected == "all") { 
        let items = document.getElementsByClassName("sort-item");
        for (let item of items) {
          item.classList.remove("diminish");
        }
      } else {
        let hide = document.querySelectorAll(`#sort-items .sort-item:not([data-groups~="${selected}"])`);
        for (let el of hide) {
          el.classList.add("diminish");
        }
        let show = document.querySelectorAll(`#sort-items .sort-item[data-groups~="${selected}"]`);
        for (let el of show) {
          el.classList.remove("diminish");
        }
      }
    }
    
    // call filter on radio selection
    let radioChanged = (radio) => {
      if (radio.checked) {
        filter(radio.value);
      }
    }
    
    // select what to filter by on window load
    const urlParams = new URLSearchParams(window.location.search);
    let param = urlParams.get("category");
    let component;
    if (param == null) {
      component = document.getElementById("radio-all");
      param = "all";
    } else {
      component = document.getElementById("radio-" + param);
      if (component == null) {
        component = document.getElementById("radio-all");
      }
    }
    component.setAttribute("checked", "checked");
    filter(param);
  </script>
</section>

{{ end }}
