<header>
  <nav id="navbar">
    <div class="mobile-top">
      <a href="{{ site.BaseURL }}" class="title">{{site.Title}}</a>
      <span id="navbar-toggle">
        ☰
      </span>
    </div>
    
    <span id="nav-links">
      {{ $current := . }}
      {{ range site.Menus.main }}
      {{ $is_current := or ($current.IsMenuCurrent "nav" .) ($current.HasMenuCurrent "nav" .) }}
      {{ $is_current = or $is_current (eq .Name $current.Title) }}
      <a class="nav-link {{ if $is_current }}current{{ end }}" href="{{ .URL | absURL }}">{{ .Name }}</a>
      {{ end }}
    </span>
  </nav>

  <script>
    let mainNav = document.getElementById("nav-links");
    let navBarToggle = document.getElementById("navbar-toggle");

    navBarToggle.addEventListener("click", () => {
      console.log("here");
      mainNav.classList.toggle("active");
    });
  </script>
</header>
