<header>
  <nav id="navbar">
    <div class="mobile-top">
      <a href="{{ site.BaseURL }}" class="title">{{site.Title}}</a>
      <span id="navbar-toggle">
        ☰
      </span>
    </div>
    
    <span id="nav-links">
      {{ range site.Menus.main }}
      <a class="nav-link" href="{{ .URL | absURL }}">{{ .Name }}</a>
      {{ end }}
    </span>
  </nav>

  <script>
    // mobile header
    let mainNav = document.getElementById("nav-links");
    let navBarToggle = document.getElementById("navbar-toggle");

    navBarToggle.addEventListener("click", () => {
      mainNav.classList.toggle("active");
    });

    // sticky header
    window.onscroll = () => {
      let nav = document.getElementById("navbar");
      if (window.scrollY > 100) {
        nav.classList.add("scrolled");
      } else {
        nav.classList.remove("scrolled");
      }
    };
  </script>
</header>
