{{ define "main" }}

<!-- title area -->
<section class="hero-area bg-primary overflow-hidden">
  <div class="container">
    <div class="row">
      <!-- Text-->
      <div class="col-lg-11 mx-auto">
        <h1 class="text-white font-tertiary">
          {{ site.Data.homepage.banner.title | safeHTML }}
        </h1>
      </div>
    </div>

    <!-- social icon -->
    <ul class="list-inline position-relative zindex-1 col-lg-11 mx-auto">
      {{ range site.Params.social }}
      <li class="list-inline-item">
        <a href="{{.URL | safeURL }}">
          {{ $path:= (print "images/icons/" .icon)}}
          <img
            src="{{ $path | absURL }}"
            alt="{{ .name }}"
            style="height: 25px;"
          />
        </a>
      </li>
      {{ end }}
      <li class="list-inline-item">
        <a href="mailto:{{ site.Params.author.email }}">
          <img
            src="{{ `images/icons/mail.svg` | absURL }}"
            alt="Email"
            style="height: 25px;"
          />
        </a>
      </li>
      <li class="list-inline-item">
        <a href="/blog/index.xml">
          <img
            src="{{ `images/icons/rss.svg` | absURL }}"
            alt="RSS"
            style="height: 25px;"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
<!-- /title area -->

<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <p class="font-secondary lead text-dark">{{site.Data.homepage.about.content | markdownify}}</p>
      </div>
    </div>
  </div>
</section>
<!-- /about -->

<!-- projects -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">
          Recent Projects
        </h2>
      </div>
    </div>
    <div class="row shuffle-wrapper">
      {{ $count:= site.Data.homepage.projects.display_count }}
      {{ range first $count (where .Site.RegularPages "Section" "projects") }}
      {{ .Render "post" }}
      {{ end }}
    </div>
  </div>
</section>
<!-- /projects -->

<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">
          Latest Blog Posts
        </h2>
      </div>
      {{ $count:= site.Data.homepage.projects.display_count }}
      {{ range first $count (where .Site.RegularPages "Section" "blog") }}
      {{ .Render "post" }}
      {{ end }}
    </div>
  </div>
</section>
<!-- /blog -->

{{end}}
