#navbar {
  $nav-mobile-size: 800px;

  // text size
  font-size: 18px;

  // fix on top of screen
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;

  // text position
  padding: 50px;
  transition: 0.3s ease;

  @media (max-width: $nav-mobile-size) {
    padding: 30px;
    background: $primary-color;
  }

  // when scrolled
  &.scrolled {
    background-color: $primary-color;
    padding: 40px;
  }

  @media (max-width: $nav-mobile-size) {
    &.scrolled {
      padding: 30px;
    }
  }

  // link style
  .mobile-top {
    display: flex;
    justify-content: space-between;
    align-items: sp;
  }
  
  #nav-links {
    flex-direction: column;
    display: none;
  
    &.active {
      display: flex;
    }

    .nav-link {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.9);
      text-align: center;
      margin: 10px auto;

      &.current {
        color: $accent-color;
      }
    }

  }
  
  .title {
    font-size: 22px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
  }
  
  #navbar-toggle {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.9);
    font-size: 24px;
    user-select: none;
  }
  
  @media (min-width: $nav-mobile-size) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;

    .mobile-top {
      width: auto;
    }
  
    #nav-links {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      .nav-link {
        margin: 0;
        margin-right: 25px;

        &:hover {
          color: rgba(255, 255, 255, 1);
        }
      }
    }
  
    #navbar-toggle {
      display: none;
    }
  
    .title:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
}
