#navbar {
  $nav-mobile-size: 800px;

  // text size
  font-size: 18px;

  // fix on top of screen
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;

  // text position
  padding: 50px;
  transition: 0.3s ease;

  @media (max-width: $nav-mobile-size) {
    padding: 30px;
    background: var(--marginals-color);
  }

  // when scrolled
  &.scrolled {
    background-color: var(--marginals-color);
    padding: 20px 40px;
  }

  // link style
  .mobile-top {
    display: flex;
    justify-content: space-between;
    align-items: sp;
  }
  
  #nav-links {
    flex-direction: column;
    display: none;
    margin-top: 1em;
  
    &.active {
      display: flex;
    }

    .nav-link {
      text-decoration: none;
      color: #fff;
      text-align: center;
      margin: 10px auto;
    }
  }
  
  .title {
    font-size: 22px;
    text-decoration: none;
    color: #fff;
  }
  
  #navbar-toggle {
    cursor: pointer;
    color: #fff;
    font-size: 24px;
    user-select: none;
  }
  
  @media (min-width: $nav-mobile-size) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;

    .mobile-top {
      width: auto;
    }
  
    #nav-links {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-top: 0;

      .nav-link {
        margin: 0;
        margin-right: 25px;

        &:hover {
          opacity: 0.85;
        }
      }
    }
  
    #navbar-toggle {
      display: none;
    }
  }
}
