.page-title {
  height: 450px;
  background-image: url("/images/backgrounds/pattern.png");

  .container {
    padding-top: 250px;
    position: relative;
    z-index: 1;
    text-align: center;

    h1 {
      font-family: roboto, sans-serif;
      color: #fff;
    }
  }
}
